.form{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    padding-top: 10rem;
    max-width: 80vw;
}
input{
    text-align: center;
   color: blueviolet;
   font-weight: bold;
   font-size: 1rem;
}
label{
    text-align: center;
    font-weight: bold;
}